<div class="box">
    A cell is either dead or alive.
</div>
<div class="box">
    A dead cell that has exactly three alive neighbors will be alive in the next generation.
</div>
<div class="box">
    Alive cells with less than two alive neighbors will be dead in the next generation.
</div>
<div class="box">
    Alive cells with two or three alive neighbors will stay alive in the next generation.
</div>
<div class="box">
    Alive cells with more than three alive neighbors will be dead in the next generation.
</div>
