<form [formGroup]="optionsForm">
    <p>
        Breite: <input id="width" class="input" formControlName="width" maxlength="2" [attr.disabled]="gameRunning ? '' : null" />
    </p>
    <p>
        Höhe: <input id="height" class="input" formControlName="height" maxlength="2" [attr.disabled]="gameRunning ? '' : null" />
    </p>
    <p>
        Tick: <input id="tick" class="input" formControlName="tick" />
    </p>
    <p>
        Random: <input id="random" class="input" formControlName="random" />
    </p>
</form>
